* {
    margin: 0;
    padding: 0;
}

:root  {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --accent-color: #0667E1;
}

.Container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr 1fr;

    grid-template-areas: 
    "nav";
}




@media (max-width: 768px) {
    
}
