* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

:root  {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --accent-color: #0667E1;
    --accent-color-2: #0D0889;
}

.Container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 5fr 1fr;

    grid-template-areas: 
    "nav"
    "main"
    "footer";

}



main {
    grid-area: main;
    background-color: var(--accent-color);
}



footer {
    grid-area: footer;
}




@media (max-width: 600px) {

    .Container {
        grid-template-rows: 0.25fr 5fr 1fr;
    }


}
